<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structure Prediction</title>
</head>
<body>
    <h2>Structure Prediction</h2>
    <form action="/" method="post">
        <label for="Jsc">Jsc:</label>
        <input type="text" id="Jsc" name="Jsc"><br><br>
        <label for="Voc">Voc:</label>
        <input type="text" id="Voc" name="Voc"><br><br>
        <label for="FF">FF:</label>
        <input type="text" id="FF" name="FF"><br><br>
        <label for="Efficiency">Efficiency:</label>
        <input type="text" id="Efficiency" name="Efficiency"><br><br>
        <label for="Rs">Rs:</label>
        <input type="text" id="Rs" name="Rs"><br><br>
        <label for="Rp">Rp:</label>
        <input type="text" id="Rp" name="Rp"><br><br>
        <label for="Rate">Rate:</label>
        <input type="text" id="Rate" name="Rate"><br><br>
        <label for="Temp">Temp:</label>
        <input type="text" id="Temp" name="Temp"><br><br>
        <input type="submit" value="Make a Predict">
    </form>
</body>
</html>
